@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #facc15;
}

.loader {
    border: 16px solid white;
    /* Light grey */
    border-top: 10px solid #facc15;
    /* Blue */
    border-radius: 50%;
    width: 90px;
    height: 90px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}